<p>
  <b>Name:</b>
  <%=h @rawmaterial_category.name %>
</p>

<p>
  <b>Grade:</b>
  <%=h @rawmaterial_category.grade %>
</p>


<%= link_to 'Edit', edit_rawmaterial_category_path(@rawmaterial_category) %> |
<%= link_to 'Back', rawmaterial_categories_path %>
