<div>
 
  <!--LAWYER NAME & LOGIN INFO-->
  <div class="topNav">
    <!--LAWYER NAME-->
    
      <div class="lawyerDetails">
        <div class="left"><%= image_tag '/images/livia_portal/r_left.gif',:height=>"25", :width=>"6",:alt=>"",:title=>"" %></div>
        <div class="rBg">
          <div class="details"></div>
        </div>
        <div class="right"><%= image_tag '/images/livia_portal/r_right.gif',:height=>"25", :width=>"6",:alt=>"",:title=>"" %></div>
        <div class="clear"></div>
      </div>
   
    <!--LAWYER NAME-->

    <!--LOGIN INFO-->
    <div class="loginDetails">
      <div class=""></div>
      <div class="txtR ">
      </div>
    </div>
    <!--LOGIN INFO-->
    <br class="clear"/>
  </div>
  <!--LAWYER NAME & LOGIN INFO-->
  <br class="clear"/>
</div>