<div class="gridDiv">
  <div class="titleHead">Listing Serializes</div>
  <div class="gryBox">
    <div class="linkOuter w45 fr txtR mt5">
      <%= link_to 'New Serialize', new_serialize_path %>
    </div><br class="clear" />
    <div id="contacts">
      <div id="contact_list" class="contactsDIV">
        <div class="gridTable">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>

            <% for serialize in @serializes %>
              <tr>
                <td><%=h serialize.name %></td>
                <td>
                  <div class="fr" style="float:left;">
                    <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}),  edit_serialize_path(serialize))%>
                    <%=  link_to(image_tag('/images/livia_portal/icon_reject_1.gif',{:alt =>"DeActivate", :title=>"DeActivate",:border => 0, :hspace => "2"}),serialize, :confirm => 'Are you sure?', :method => :delete) %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div></div></div></div>
<br />